node_modules

// for fit time
git init
git add .
git commit -m "first commit"
git branch -M main

git remote add origin https://github.com/amjadsran/node-practice.git
git push -u origin main


*************
// for every time after first push


git add .
git commit -m "first commit"
git push 